body {
  background-color: #8000806b;;
}

.img-responsive {
  display: block;
  margin: auto;
}

.playerCards {
  font-size: 17px;
  padding-left: 39px;
}

#myAudio {
  font-size: small;
}

.redCard {
  color: red;
    font-weight: bold;   
}

.bold {
    font-weight: bold;
    color: black;      
}

.audioPlayer {
  margin: 155px;
    padding: 0px;
    padding-left: 640px;
}

#deal-first .front { display: none; }
#deal-first.show .back { display: none; }
#deal-first.show .front { display: block; }

.dealerCards {
  font-size: 17px;
  padding-left: 34px;
}

.dark-mode {
  background-color: black;
  color: white;
}

.lowerPart {
  padding-left: 54px;
}

button {
  cursor: pointer;
  width: 34%;
    /*background-color: #717171;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 
    border-radius: 10px;
}

#playerStart, #playerHit, #playerStand {
  cursor: pointer;
  box-sizing: border-box;
}

#player-stand, #dealer-stand {
  display: none;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1px;
    margin-top: 8px;
    height: 300px;
    width: 400px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    display: table;
    padding: 8px 8px 8px 8px;
}

.container {
  justify-content: center;
  display: grid;
  position: relative;
  margin-top: -676px;
  margin-bottom: -43px;
  font-size: 25px;
  color: yellow;
  padding-left: 11px;
}

.bj-card {
  box-sizing: border-box;
  font-size: 2em;
  text-align: center;
  padding: 10px;
  width: 100%;
  background: #fff;
  border: 1px solid #eaeaea;
}

.hitAndStandBtn {
  display: flex;
  justify-content: space-evenly;
}

#playerHit, #playerStand {
  display: none;
}

#playerControl.started {
  display: flex;
}

#playerControl.started, #playerHit, #playerControl.started, #playerStand {
  display: inline-block;
}
